/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f5f7fb;
  color: #1a1a1a;
}

a {
  text-decoration: none;
  color: inherit;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Smooth transitions */
* {
  transition: all 0.2s ease-in-out;
}
